@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body {
	margin: 0;
	background: url("../img/leaderboard.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: "Montserrat", sans-serif;
	line-height: 1.43
}

#app {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 70px;
	min-height: 100vh
}

.container {
	padding: 18px;
	min-width: 50%;
	color:#fff;
	background-color: rgba(0, 0, 0, 0.75);
	box-shadow: 0 10px 59px -9px rgba(0, 0, 0, 0.7);
	border-radius: 9px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	border-top: 2px solid rgba(255, 255, 255, 0.08);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.row::after,
.row::before {
	display: table;
	content: " "
}

.clearfix::after,
.container::after,
.row:after {
	clear: both
}

.leadheader {
	text-align: center;
}

.leadheader h2 {
	margin: 0;
	padding: 20px 20px 50px
}

.row-header {
	width: 100%;
	margin: 0 0 18px;
	font-size: 18px;
	color: #8c8c8c;
	border-bottom: 1px solid hsla(0, 0%, 100%, .1)
}

.row-header .col {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.row-header .col-date,
.row-header .col-score {
	cursor: pointer
}

.row-users {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 5px;
}

.row p {
	margin: 3px
}

.row-users:hover {
	border-radius: 5px;
	background-color: hsla(0, 0%, 100%, .1)
}

.col {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left
}

.col-rank {
	width: 15%
}

.col-name {
	width: 35%
}

.col-score {
	width: 25%
}

.col-date {
	width: 25%
}

.container div:nth-child(3) .col-rank,
.container div:nth-child(3) .col-name {
	font-weight: bold;
	color: #e78532
}

.container div:nth-child(4) .col-rank,
.container div:nth-child(4) .col-name {
	font-weight: bold;
	color: #8c8c8c
}

.container div:nth-child(5) .col-rank,
.container div:nth-child(5) .col-name {
	font-weight: bold;
	color: #8e6337
}

@media (max-width: 540px) {
	#app {
		padding: 30px
	}

	.container {
		padding: 0
	}

	.colheader .col {
		padding: 0
	}
}

@media (min-width: 550px) {
	.container {
		width: 100%
	}
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}